.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: rgba(2, 2, 2, 0.7);
  float: right;
  font-size: 21px;
  font-weight: bold;
  margin: 5px;
  width: 27px;
  height: 27px;
  padding: 0;
}
.left-side-button {
  margin-top: 20px;
  margin-left: 7px;
}
