body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  border-radius: 12px;
  border: 2px solid black;
  font-family: Verdana;
  background-color: antiquewhite;
  padding: 2px 8px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: aliceblue;
}
